<head>
  <style>
    .inline-elements {
      display: inline-block;
      margin-right: 10px; /* opcional, para separar un poco los elementos */
    }
  </style>
</head>
<body>
  <h1>Notas</h1>
  <ul>
    {% for note in notes %}
    <li>
      <h2 class="inline-elements">{{ note.title }}</h2>
      <p class="inline-elements">{{ note.date_added }}</p>
      <h4>
        {% for tag in note.tags.all %} {{ tag.name }}{% if not forloop.last %},
        {%endif %} {% endfor %}
      </h4>

      <p>{{ note.body }}</p>
    </li>
    {% endfor %}
  </ul>
</body>
